/* border-box fix */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* this sets the style for everything in the body of the page, unless overridden */
body {
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
}

/* This styles the page headers */
h1 {
  font-family: "Cardo", serif;
  text-align: center;
  font-size: 35px;
}

/* This styles the secondary headers */
h2 {
  font-weight: 100;
  font-family: "Cardo", serif;
  font-size: 30px;
  padding-bottom: 20px;
}
h2.center {
  text-align: center;
}

h3 {
  font-family: "Cardo", serif;
}

/* this adjusts the line height for all list items  */
li {
  line-height: 1.5;
}

/* this creates a grid style, applied to the photos the shop now page */
#product {
  justify-content: center;
  padding: 0px;
  margin: 0px;
  border: none;
  display: grid;
  grid-template-columns: 400px 400px;
}

/* this sets the paragraph font size and weight, margin and line height */
p {
  margin: 65px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
}

/* this class makes the text in the receipt look the same as the other paragraphs. 
it also gives me something to use for the query selector that creates the receipt */
.thanks {
  margin: 65px;
  font-weight: lighter;
  font-size: 20px;
  line-height: 1.5;
}

/* Add padding to all of the .container child elements */
.container > * {
  padding: 20px;
}
/* this centers the text */
.center {
  text-align: center;
}

/* this is an independent class to change the style */
.container {
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  max-width: 1600px;
}

/* the following styles the page overall and creates a flex box style */
header {
  background: white;

  flex: 1 0 100%;
  order: 1;
}
main {
  background: #909e87;
  order: 3;
  flex: 1 1 1100px;
}
nav {
  background: #f6e2db;
  order: 2;
  flex: 1 0 50px;
}

footer {
  text-align: center;
  background: #545657;
  flex: 1 0 100%;
  order: 4;
}

/* these style the navigation buttons */
nav ul li {
  list-style-type: none;
  line-height: 45px;
}

nav li a {
  padding: 8px 16px;
  text-decoration: none;
  background-color: #909e87;
  border-style: solid;
  border-color: #545657;
  border-width: 0.3px;
  border-radius: 0.3px;
  color: #545657;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #545657;
}

/* this makes bullets in an unordered list square */

/* mouse over link */
nav a:hover {
  color: black;
  background-color: #e4c3bb;
}

/* these are styling for fields,
buttons and checkbox forms  */
form {
  color: #545657;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 70%;
  margin: auto;
  padding: 10px;
  background-color: #e4c3bb;
}

label,
select {
  display: inline-block;
  margin-top: 10px;
}

input {
  padding: 5px;
  line-height: 1.5;
}

.radio {
  width: 15px;
}

textarea {
  margin: auto;
  width: 100%;
  height: 200px;
}

legend {
  padding-top: 20px;
}
/* this is the independent class .col for the images wrapped in div tags in the gallery part of the shop now page */
.col {
  justify-content: center;
  background-color: white;
  width: 94%;
  overflow: hidden;
  border-style: solid;
  border-color: #545657;
  border-width: 0.3px;
  border-radius: 0.3px;
  color: #545657;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #545657;
  margin-bottom: 30px;
}

/*-------------------media queries to make page responsive for iphone or smaller--------------------------- */
/* @media screen and (max-width: 375px) {
  figure img {
    width: 200px;
    height: 200px;
  }
} */
